.w3-aicard-cute
{color:#fff;background-color:#ffbfd3}
.w3-aicard-cool
{color:#fff;background-color:#91ddff}
.w3-aicard-sexy
{color:#fff;background-color:#eaa9ff}
.w3-aicard-pop
{color:#fff;background-color:#fff350}

.w3-aicard-dark-cute
{color:#fff;background-color:#fda7c1}
.w3-aicard-dark-cool
{color:#fff;background-color:#4977ae}
.w3-aicard-dark-sexy
{color:#fff;background-color:#8f57a0}
.w3-aicard-dark-pop
{color:#fff;background-color:#ff9900}

.w3-aicard-light-cute
{color:#000;background-color:#feedf1}
.w3-aicard-light-cool
{color:#000;background-color:#d0e3ff}
.w3-aicard-light-sexy
{color:#000;background-color:#e8cee3}
.w3-aicard-light-pop
{color:#000;background-color:#ffeedd}
