/* Rouge Dream Skirt the Seira Otoshiro */
.w3-dreamskirt-rouge-1{color:#fff;background-color:#493ef7}
.w3-dreamskirt-rouge-2{color:#fff;background-color:#9ab1f3}
.w3-dreamskirt-rouge-3{color:#fff;background-color:#ef104e}
.w3-dreamskirt-rouge-4{color:#fff;background-color:#f510ba}

/* Lime Dream Skirt the Kii Saegusa */
.w3-dreamskirt-lime-1{color:#fff;background-color:#00e77b}
.w3-dreamskirt-lime-2{color:#000;background-color:#c9ff73}
.w3-dreamskirt-lime-3{color:#000;background-color:#fff873}
.w3-dreamskirt-lime-4{color:#fff;background-color:#fe7ea5}
.w3-dreamskirt-lime-5{color:#000;background-color:#25fff1}

/* Sky Dream Skirt the Sora Kazesawa */
.w3-dreamskirt-sky-1{color:#fff;background-color:#7822c8}
.w3-dreamskirt-sky-2{color:#fff;background-color:#324acf}
.w3-dreamskirt-sky-3{color:#000;background-color:#a3defc}
.w3-dreamskirt-sky-4{color:#fff;background-color:#12b1eb}
.w3-dreamskirt-sky-5{color:#fff;background-color:#d337e7}

/* Apricot Dream Skirt the Maria Himesato */
.w3-dreamskirt-apricot-1{color:#fff;background-color:#f54527}
.w3-dreamskirt-apricot-2{color:#fff;background-color:#ffb23d}
.w3-dreamskirt-apricot-3{color:#000;background-color:#a0fa70}
.w3-dreamskirt-apricot-4{color:#000;background-color:#ff9cc8}
.w3-dreamskirt-apricot-4b{color:#000;background-color:#fffb72}
