.w3-theme-l5 {color:#000 !important; background-color:#fffef5 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fffddc !important}
.w3-theme-l3 {color:#000 !important; background-color:#fffaba !important}
.w3-theme-l2 {color:#000 !important; background-color:#fff897 !important}
.w3-theme-l1 {color:#000 !important; background-color:#fff674 !important}
.w3-theme-d1 {color:#000 !important; background-color:#fff130 !important}
.w3-theme-d2 {color:#000 !important; background-color:#ffef0e !important}
.w3-theme-d3 {color:#000 !important; background-color:#ecdc00 !important}
.w3-theme-d4 {color:#000 !important; background-color:#cabc00 !important}
.w3-theme-d5 {color:#fff !important; background-color:#a89d00 !important}

.w3-theme-light {color:#000 !important; background-color:#fffef5 !important}
.w3-theme-dark {color:#fff !important; background-color:#a89d00 !important}
.w3-theme-action {color:#fff !important; background-color:#a89d00 !important}

.w3-theme {color:#000 !important; background-color:#fff350 !important}
.w3-text-theme {color:#fff350 !important}
.w3-border-theme {border-color:#fff350 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#fff350 !important}
.w3-hover-text-theme:hover {color:#fff350 !important}
.w3-hover-border-theme:hover {border-color:#fff350 !important}
