.w3-theme-l5 {color:#000 !important; background-color:#fdf5f2 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f9ded3 !important}
.w3-theme-l3 {color:#000 !important; background-color:#f4bca7 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ee9b7a !important}
.w3-theme-l1 {color:#fff !important; background-color:#e87a4e !important}
.w3-theme-d1 {color:#fff !important; background-color:#cf4e1b !important}
.w3-theme-d2 {color:#fff !important; background-color:#b84518 !important}
.w3-theme-d3 {color:#fff !important; background-color:#a13d15 !important}
.w3-theme-d4 {color:#fff !important; background-color:#8a3412 !important}
.w3-theme-d5 {color:#fff !important; background-color:#732b0f !important}

.w3-theme-light {color:#000 !important; background-color:#fdf5f2 !important}
.w3-theme-dark {color:#fff !important; background-color:#732b0f !important}
.w3-theme-action {color:#fff !important; background-color:#732b0f !important}

.w3-theme {color:#fff !important; background-color:#e25822 !important}
.w3-text-theme {color:#e25822 !important}
.w3-border-theme {border-color:#e25822 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#e25822 !important}
.w3-hover-text-theme:hover {color:#e25822 !important}
.w3-hover-border-theme:hover {border-color:#e25822 !important}
